body {
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  height:100vh;
  width:100%;
}

#rock, #paper, #scissors {
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  height:300px;
  cursor:pointer;
}

.hide {
  display: none;
}

.player_heart {
  margin-right: 5px;
}

